<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Erie Meyer</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/press">Press</a></li>
				<li><a href="/speaking">Speaking</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter/erie">@erie</a></li>
	        		<li><a href="https://github.com/eriemeyer">github</a></li>
				<li><a href="https://www.linkedin.com/in/eriemeyer/">linkedin</a></li>
				<li><a href="mailto:erie.meyer@gmail.com">email</a></li>				
				</ul>
			</footer>
		</body>
	</html>
